@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#coffee{
  background-image: url('images/coffeeshop.png');
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  z-index: 100;
}

#kiosk{
  background-image: url('images/kiosk.png');
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  z-index: 100;
}

#takeaway{
  background-image: url('images/takeaway.png');
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  z-index: 100;
}
#clothing{
  background-image: url('images/clothing.png');
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  z-index: 100;
}

#features{
  background-image: url('images/features_collaboration.png');
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  z-index: 100;
}